{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Ichki sahifada menyu ko'rinishi uchun qo'shimcha CSS -->
<style>
  #header {
    background: rgba(40, 58, 90, 0.9) !important; /* To'q ko'k fon beramiz */
    transition: all 0.5s;
  }
</style>

<!-- Qolgan portfolio_details kodlari shu yerdan davom etadi... -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ work.rasm1.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ work.rasm1.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ work.rasm1.url }}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{ work.tur }}</li>
                <li><strong>Client</strong>: {{ work.company_name }}</li>
                <li><strong>Project date</strong>: {{ work.date }}</li>
                <li><strong>Project URL</strong>: <a href="#">{{ work.url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                    {{ work.malumot }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}